# 构建产物
__pycache__/
*.pyc
*.pyo
build/
install/
log/
*.egg-info/
*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# 环境
venv/
env/

# ROS src 目录下的构建产物
workspaces/src/build/
workspaces/src/devel/
workspaces/src/install/
workspaces/src/log/
workspaces/src/logs/
workspaces/src/*.log

# ROS src 目录下的构建产物
workspaces/src/build/
workspaces/src/devel/
workspaces/src/install/
workspaces/src/log/
workspaces/src/logs/
workspaces/src/*.log
