<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so_100_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="false"/>

    <!-- Import so_100_arm urdf file -->
    <xacro:include filename="$(find so_100_arm)/urdf/so_100_arm_5dof_hardware.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="so_100_arm.ros2_control.xacro" />



    <xacro:so_100_arm_ros2_control 
        name="SO100ARM" 
        initial_positions_file="$(arg initial_positions_file)"
        use_fake_hardware="$(arg use_fake_hardware)"/> 
</robot>
