[Unit]
Description=AI NVR Service
Wants=docker.service
After=docker.service
After=jetson-storage.service

[Service]
Type=oneshot
ExecStart=docker compose -f /opt/nvidia/jetson/apps/ai_nvr/compose_agx.yaml up -d --force-recreate
RemainAfterExit=yes
ExecStop=docker compose -f /opt/nvidia/jetson/apps/ai_nvr/compose_agx.yaml down --remove-orphans

[Install]
WantedBy=default.target
